name: Milestone 2 project

on:
  push:
    tags:
      - "v*.*.*" 

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt -r requirements-dev.txt

      - name: Run tests
        run: pytest tests -v

  build-and-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

   
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/211266030903/locations/global/workloadIdentityPools/git-pool/providers/github-provider
          service_account: ${{ secrets.GCP_SA }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker auth
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build and Push Docker image
        run: |
          # Use github.ref_name to get the 'v1.0.0' tag name in the Registry
          IMAGE_BASE="us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mlops-repository/milestone2"
          
          docker build \
            -t "$IMAGE_BASE:${{ github.ref_name }}" \
            -t "$IMAGE_BASE:latest" \
            .
            
          docker push "$IMAGE_BASE:${{ github.ref_name }}"
          docker push "$IMAGE_BASE:latest"
